*{
    padding: 0px;
    margin: 0px;
}

html{
    height: 100%;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400,600,700;
    font-style: normal;
    background-color: hsl(275, 100%, 97%);
    font-size: 16px;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

#faq-section{
    margin-top: 150px;
    width: 600px;
    background-color: hsl(0, 100%, 100%);
    font-size: 16px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.faq-title{
    text-align: left;
    display: flex;
    flex-direction: row;
    color: hsl(292, 42%, 14%);
    font-size: 1.8rem;
    padding: 20px;
}

.bg-img{
    position: absolute;
    z-index: -1;
    height: auto;
    width: 100%;
}

.faq-item{
    margin: 0 auto;
    width: 95%;
    border-bottom: 1px solid #dddddd6b;
    padding: 10px 0;
}

.faq-question,.faq-question2,.faq-question3,.faq-question4{
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Work Sans", sans-serif;;
    font-size: 16px;
    color: hsl(292, 42%, 14%);
    font-weight: 600;

}

.faq-question:hover{
    color:hsl(292, 16%, 49%);
}

.faq-question.active .icon{
    content: "-";

}
.faq-answer{
    display: none;
    color:hsl(292, 16%, 49%);
    padding: 5px;
    font-weight: 400;
}


@media (min-width:426px) {
.bgSelectorMobile{
    display:none;
    
}
.bgSelector{
    width: 100%;
}
}
.faq-Padding{
    padding-left: 20px;
}

@media (max-width: 425px) {

.bgSelectorMobile{
    width: 100%;
}
    
.bgSelector{
    display:none;
}
#faq-section{
    width: 80%;
    background-color: hsl(0, 100%, 100%);
    font-size: 16px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.faq-title{
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    color: hsl(292, 42%, 14%);
    font-size: 1.8vh;
    padding: 10px;
}
.faq-Padding{
    padding-left: 5px;
}
}
